[user]
	email = support.odej@gmail.com
	name = ncneti23
[core]
	autocrlf = false
[gui]
	recentrepo = D:/ME/Documents/MEGA/MEGAsync/EDUCATION/Conferences/NCNETI23/WebPage/TheEvent - Blue/ncneti23.github.io
